{
  "plugins": ["prettier-plugin-svelte"],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
  "experimentalTernaries": true,
  "semi": false,
  "singleQuote": true,
  "bracketSameLine": true,
  "singleAttributePerLine": true
}
